:root {
  --main-text-color: #212121;
  --brand-color: #2196f3;
  --subtext-color: #757575;
  --address-color: #ffffff99;
  --sub-bakcgrounds: #2f303a;
  --sub-backgrounds2: #f5f4fa;
  --sub-backgrounds3: #ffffff;
  --svg-colors: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--sub-backgrounds3);
}

.mailandtel__elements {
  fill: var(--subtext-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  fill: var(--subtext-color);
  color: var(--subtext-color);
  text-decoration: none;
}
.mailandtel__elements:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.team__icons-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.team__media {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  fill: var(--svg-colors);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__media:hover {
  background: var(--brand-color);
  border-radius: 100%;
  fill: var(--sub-backgrounds3);
}

.descriptions__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub-backgrounds2);
  width: 270px;
  height: 120px;
  padding: 0;
}
.team__list {
  display: flex;

  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.clients__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
  padding: 0;
}
.clients__svg {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--svg-colors);
  border-radius: 4px;
  fill: var(--svg-colors);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__svg:hover {
  border-color: var(--brand-color);
  cursor: pointer;
  fill: var(--brand-color);
}
.clients__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 94px;
}
/* .highlighter {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.highlighter:hover {
  border-color: var(--brand-color);
  cursor: pointer;
  fill: var(--brand-color);
} */

.footers__icons-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
  margin-top: 20px;
}
.footers__icons {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--sub-backgrounds3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footers__icons:hover {
  background-color: var(--brand-color);
  cursor: pointer;
  border-radius: 100%;
}

.container {
  margin: 0 auto;

  max-width: 1200px;
  padding: 0 15px;
}
.headers__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
}
.headers {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.headers__main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 0px;
  margin: 0;
}
.headers__list-elements {
  position: relative;
}
.headers__list-elements::after {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* nie chce działać active */
.headers__list-elements:hover::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  top: 45px;
  width: 53px;
  height: 4px;
  background-color: var(--brand-color);
}
.headers__list-elements:focus + .headers__list-elements::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  left: 0;
  top: 45px;
  width: 53px;
  height: 4px;
  background-color: var(--brand-color);
}
.headers__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 93px;
  margin-right: 371px;
}

.mailandtel {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.headers__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.highlight {
  color: var(--brand-color);
}

.links {
  text-decoration: none;
  color: var(--main-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.links:hover {
  color: var(--brand-color);
}
.links--active {
  color: var(--brand-color);
}
.links--active::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  left: 0;
  top: 45px;
  width: 53px;
  height: 4px;
  background: var(--brand-color);
}
.footers__tel {
  color: #ffffff99;
  text-decoration: none;
}
.footers__tel:hover {
  color: var(--brand-color);
}
.solutions__wrapper {
  color: var(--sub-backgrounds3);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.solutions {
  background-image: url(../images/main-background.jpg),
    url(../images/ImgOverlay.png);
  background-size: cover;

  margin: 0;
  box-sizing: content-box;
  height: 600px;
  display: flex;
  align-items: center;
}
.solutions__wrapper h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  font-family: "Roboto";

  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}
.solutions__button {
  color: var(--sub-backgrounds3);
  background-color: var(--brand-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions__button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.499);
}
.buttons:hover {
  cursor: pointer;
}
.descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--subtext-color);
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}
.descriptions h4 {
  color: var(--main-text-color);
}
.descriptions__list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
}
.occupation {
  margin-bottom: 94px;
}
.occupation__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
}
.occupation__gallery {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  margin-top: 50px;
}
.occupation__gallery-element {
  position: relative;
}
.occupation__gallery-element:nth-child(1)::after {
  content: "APLIKACJE KOMPUTEROWE";
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  left: 0px;
  color: var(--sub-backgrounds3);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16.41px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.occupation__gallery-element:nth-child(2)::after {
  content: "APLIKACJE MOBILNE";
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  left: 0px;
  color: var(--sub-backgrounds3);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16.41px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.occupation__gallery-element:nth-child(3)::after {
  content: "ROZWIĄZANIA GRAFICZNE";
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  left: 0px;
  color: var(--sub-backgrounds3);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16.41px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--subtext-color);
  line-height: 1.17;
  padding-bottom: 0;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--sub-backgrounds2);
  background-size: cover;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.team__employee-list {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.team__employees {
  background-color: var(--sub-backgrounds3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__sub-title {
  text-align: center;
}
.footers {
  background-color: var(--sub-bakcgrounds);
}
.footers__social-media-title {
  margin: 0;
  color: var(--sub-backgrounds3);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footers__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  padding-top: 60px;
}

.footers__logo {
  color: var(--sub-backgrounds3);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footers__logo:hover {
  color: var(--brand-color);
}
.footers__adresses {
  color: var(--sub-backgrounds3);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  padding-bottom: 50px;
}
.adresses .links {
  color: var(--address-color);
}
.newsletter__label {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--sub-backgrounds3);
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.newsletter__positioning {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.newsletter__input {
  background: none;
  width: 358px;
  height: 50px;
  color: #ffffff99;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}
.newsletter__input:placeholder-shown {
  color: #ffffff99;
}
.newsletter__button {
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--sub-backgrounds3);
  fill: var(--sub-backgrounds3);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__button:hover {
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.244);
}
.backdrop__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--sub-backgrounds3);
  display: flex;
  align-items: end;
  border-radius: 4px;
  flex-direction: column;
}

.backdrop__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 100%;
  background-color: var(--sub-backgrounds3);
  margin-top: 8px;
  margin-right: 8px;
}
.backdrop__close-button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.499);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: open-modal 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: alternate;
}
@keyframes open-modal {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop__forms-wrapper {
  margin: 2px 40px 40px 40px;
  height: 501px;
}
.backdrop__form-title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.backdrop__mainpage-form {
  margin-top: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px; */
}
.backdrop__form-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--subtext-color);
  text-align: left;
  margin-bottom: 10px;
}
/* .backdrop__input-focus + .backdrop__text-area-modification {
  border: none;
} */
.backdrop__input-focus {
  height: 40px;
  padding-left: 42px;

  border: 1px solid #21212133;
  border-radius: 4px;
}
.backdrop__input-focus:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}
.backdrop__input-focus:focus + svg {
  fill: var(--brand-color);
}
.backdrop__form-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  fill: var(--main-text-color);
}
.backdrop__text-area-modification {
  padding: 12px 16px;
  border: 1px solid #21212133;
  border-radius: 4px;
}
.backdrop__text-area-modification:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}
/* .backdrop__text-area-modification:focus {
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  outline: 1px solid var(--brand-color);
  border: none;
  border-radius: 4px;
} */

/* .backdrop__input-focus:focus + .backdrop__form-icon {
  fill: var(--brand-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
} */
.backdrop__text-area-modification:placeholder-shown {
  padding-top: 12px;
  padding-left: 16px;
  color: #75757580;
}
.backdrop__checkbox-area {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  gap: 8px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.backdrop__checkbox-og {
  position: absolute;
  top: 4.5px;
  left: 15px;
  width: 16px;
  height: 15px;
  appearance: none;
}

.backdrop__checkbox-label {
  margin-left: 39px;
}

.backdrop__checkbox-og::before {
  content: "";
  background: url("../images/svg/rectangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 15px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.backdrop__checkbox-og:checked::before {
  background: url("../images/svg/rectangle-check.svg");
}
.backdrop__link {
  color: var(--brand-color);
}
.backdrop__button-positioning {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
.backdrop__text-area-modification {
  width: 448px;
  height: 120px;
  resize: none;
}
.backdrop__button {
  color: var(--sub-backgrounds3);
  background-color: var(--brand-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.499);
}
/* portfolio */
.gallery {
  margin-top: 94px;
  margin-bottom: 94px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-color);
}

.gallery__filterdiv {
  padding-bottom: 50px;
}
.gallery__filter {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.gallery__filter-btns {
  background-color: var(--sub-backgrounds2);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--main-text-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__filter-btns:hover {
  background: var(--brand-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--sub-backgrounds3);
}
.gallery__portfolio {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__portfolio-elements {
  position: relative;
  display: block;
  height: 404px;
  max-width: 370px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__caption {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--sub-backgrounds3);
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  top: 0px;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  background-color: #2196f3e5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__portfolio-elements:hover .gallery__caption {
  transform: translateY(0);
}
.gallery__animation {
  position: relative;
  overflow: hidden;
  max-width: 370px;
}
.gallery__animation img {
  display: block;
}
/* .gallery-animation::after {
  content: "Technocrack jest popularną platformą wykorzystywaną do rozpowszechniania koronawirusa. Firmy wykorzystują tę platformę do celów szpiegowskich i ataków na niezabezpieczone serwery konkurencji";
  position: absolute;
  bottom: 105px;
  left: 0;
  background: #2196f3e5;
  opacity: 0;
  height: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; */

/* color: var(--sub-backgrounds3);
  padding-left: 24px;
  padding-right: 45px;
  padding-top: 49px;
  padding-bottom: 49px;
  text-align: left;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .gallery-animation:hover::after {
  width: 370px;
  height: 299px;
  opacity: 100%;
  box-shadow: 1px 4px 6px 0px #00000029;
  box-shadow: 0px 4px 4px 0px #0000000f;
  box-shadow: 0px 1px 1px 0px #0000001f;
} */

.gallery__label {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}
.gallery__subtext {
  margin: 0;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
