.offers {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 0;
  }
  &__item {
    list-style: none;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.ofrs-img {
  position: relative;
  height: 294px;
  &__wrapper {
    position: absolute;
    bottom: 0px;
    background-color: #2f303acc;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    color: $HighlightColor;

    text-align: center;
  }
  &__desc {
    margin: 0;
    font-weight: $fontWeightMain;
  }
}
