// colors
$brandColor: #2196f3;
$mainTextColor: #212121;
$secondaryTextColor: #757575;
$complimentaryColor: #f5f4fa;
$minorColor: #2f303a;
$logoColor: #000000;
$backgroundColor: #e5e5e5;
$HighlightColor: white;
$svgColors: #afb1b8;
// fonts
$logoFont: "Raleway";
$mainFont: "Roboto";
//font weight
$fontWeightMain: 700;
$fontWeightSecondary: 400;
$fontWeightComplementary: 500;
//font size
$fontSizeMain: 14px;
$fontSizeSecondary: 16px;
$fontSizePortfolio: 18px;
//animation
$animationDuration: 250ms;
$animationtimingfunction: cubic-bezier(0.4, 0, 0.2, 1);
